.jobs {
    font-family: 'Roboto', sans-serif;
    width: 1280px;
    height: 232px;

    border-radius: 22px;

    
    margin-top: -75px;
    margin-left: 75px;


    display: flex;
    
    flex-wrap: nowrap;
    flex-direction: column;
    
    background: linear-gradient(95.31deg, #A659FF -28.73%, #7178FF 23.23%, #2148FF 62.74%, #FF3517 111.77%);
}

.jobs__title {
    color: #FFFFFF;
    font-size: 36px;

    margin-top: 43px;
}

.jobs__button {

    height: 37px;

    margin-top: 32px;

    border-width: 1px;
    border-radius: 105px;

    color: white;
    background-color: transparent;
    border: 1px solid #FFFFFF;

}