.commpany{
    display: flex;
    font-family: 'Roboto', sans-serif;

    flex-wrap: wrap;
    flex-direction: column;
}

.commpany__subtitle{
    margin-top: 82px;
    color: #606060;
    font-size: 13px;
    margin-bottom: 30px;
}

.commpany__img{
    justify-content: center;
    flex-grow: 1;
    column-gap: 79px;
    display: flex;
    flex-wrap: wrap;
}


