.creator {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background: black;
    align-items: center;
    justify-content: space-between;
}

.creator__content{
    text-align: left;
    margin-left: 82px;
    width: 400px;
}

.creator__title {
    color: #ffffff;
    font-size: 48px;
   
}

.creator__span {
    color: blue;
}

.creator__description {
    margin-top: 22px;
    color: #958A8A;
    font-size: 18px;

}

.creator__button {
    border: none;
    border-radius: 105px;
    background-color: #0033FF;
    color: #ffffff;
    font-size: 12px;
    height: 37px;
    margin-top: 40px;
    cursor: pointer;
}

