
.creator__card

.creator__title-card , .creator__subtitle-card, .creator__description-card  {
    color: #ffffff;
}

.creator__card__image{
    float: left;
    margin-top: 25px;
    margin-left: 28px;
}

.creator__card-img{
    margin: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.creator__card__name{
    float: left;

    margin-top: 32px;
    margin-left: 10px;

    text-align: left;
    font-size: 11px;
}

.creator__card__role{
    font-size: 8px;
}

.creator__card__description{
    margin: 28px 28px 0 28px;
    font-size: 18px;
    text-align: left;
}

.creator__card__container{
    height: 800px;
    width: 1106px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: calc(500px/4);
    margin-top: 107px;
    color: #FFFFFF;
    z-index: 1;
}

.creator__card__content{
    display: flex;
    align-items: center;

    gap:10px;
}

.creator__card{
    width: 290px;
    height: 230px;

    border-radius: 3px;

    background: #202020;

    display: flex;
    flex-direction: column;
}

.card__text{
    margin-top: 10px;

    font-size: 20px;

    color: #958A8A;
}

.card__body{
    margin-left: 10px;

    color:white;

    text-align: left;

    font-size: 18px;
}

/* 1336:768 1024:768 800:480 */

@media(max-width: 1336px){
    .creator__card__container{
        justify-content: start;
        margin-left: 30px;
        width: 825px;
        column-gap: calc(300px/4);
    }
    .creator__content{
        margin-left: 42px;
    }
}

@media(max-width: 1024px){
    .creator__card{
        width:195px;
        height: 200px;
    }

    .card__text{
        font-size: 15px;
    }

    .card__body{
        font-size: 13px;
    }

    .creator__card__container {
        width:750px;
    }
}

@media(max-width: 800px){
    .creator__card__container{
    margin-left: 10px;
    column-gap: calc(315px/4);

    }
}