.sounds {
    font-family: 'Roboto', sans-serif;

    height: 832px;
    display: flex;
    text-align: center;
    align-items: center;

    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.sounds__subtitle {
    margin-top: 127px;
    margin-bottom: 0px;

    font-size: 16px;
    color: #60606080;
}

.sounds__title {
    margin-top: 3px;
    font-size: 48px;
}

.sounds__title-span {
    color: blue;
}

.sounds__description {
    font-size: 18px;
    color: #958A8A;
    margin-top: 18px;
}

.sounds__button {
    height: 37px;
    margin-top: 34px;

    background: #0033FF;
    color: #FFFFFF;

    border: none;
    border-radius: 105px;
    cursor: pointer;
}

.sounds__img {
    height: 380px;
    background-image: url("/img/line_sounds.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 1440px;
    transform: translate(0%, 25%);
}

.sounds__image {
    transform: translate(0%, -15%);
}

.swiper {
    width: 1440px;
    height: 380px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}