.promo{
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.promo__image{
    margin-left: 112px;
}

.promo__content{
    margin-left: 81px;
    text-align: left;
}

.promo__title{
    display: inline-block;
    margin-top: 195px;
    
    
    font-size: 60px;

    background-image: url('../../img/photo_start.png');
    color: transparent;
    
    background-position: right;
    background-repeat: no-repeat;
    
    background-clip: unset;
    -webkit-background-clip: text;
}

.promo__description{
    margin-top: 23.36px;
    font-size: 18px;

    color: #595959;

}

.promo__button{
    margin-top: 34px;
    height: 37px;
    
    font-size: 12px;
    
    border: none;
    border-radius: 105px;
    
    background-color: #0033FF;
    color: white;
    
    float: left;
    cursor: pointer;
}

.promo__rectangles{
    background: #F4F6F9;
    
    width: 1440px;
    height: 635px;
    
    position: absolute;
    border-radius: 0 0 50% 50% / 0 0 24% 24%;
    
    z-index: -1;
}

/* 1336:768 1024:768 800:480 */

@media (max-width:1336px){
    .promo__rectangles{
        width: 1024px;
    }

    .promo__image{
        margin-left: 80px;
        height:600px;
        width: 500px;
    }
}

@media (max-width:1024px){
    .promo__rectangles{
        width: 800px;
        height: 450px;
    }
        .promo__image{
        margin-left: 0px;
        height: 500px;
        width: 470px;
    }
        .promo__title{
            margin-top: 125px;
        font-size: 45px;
    }
}

@media (max-width:800px){
    .promo__rectangles{
        width: 800px;
    }

    .promo__title{
        margin-top: 100px;
        font-size: 35px;
    }
}
