.pages__cards{
    font-family: 'Roboto', sans-serif;
    
    display: grid;
    justify-content: center;
    justify-items: center;
    
    padding-top: 100px;
    padding-bottom: 50px;
    
    grid-template-columns: repeat(2, 350px);
    grid-gap: 10px;
    
    background: rgb(165,165,165);
}

