.swiper {
    z-index: 3;
    width: 712px;
    height: 380px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}